// Main colors
@white: #ffffff;
@black: #1f1e1e;

@red: #BC3324;
@red_hover: #A51505;

@gray: #DEDEDE;
@gray_disabled: #BFBFBF;

// Other colors
@white_60: rgba(255, 255, 255, 0.60);
@black_3: rgba(31, 30, 30, 0.03);
@black_40: rgba(28, 27, 27, 0.40);
@black_linear: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 82.86%);

@gray_80: fade(@gray, 80);
@gray_95: fade(@gray, 95);
@gray_placeholder: #6C6C6C;

@shadow_hover: 0px 0px 30px 0px rgba(31, 31, 30, 0.55);

// Fonts
@font1: "Open Sans", sans-serif;
@font2: "Lora", serif;
@font3: "mak", serif;

// Font sizes
@font_size: 16px;
@font_size_s: (@font_size / 1.25);