.blog {

  &__container {
    .container;
  }

  &__title{
    @media (max-width: @w_768){
      margin-top: 68px;
    }

    @media (max-width: @w_420){
      margin-top: 60px;
    }
  }

  &__list {
    margin-bottom: 70px;
    display: flex;
    flex-flow: column;
    gap: 120px;

    @media (max-width: @w_1340){
      gap: 111px;
      margin-bottom: 58px;
    }

    @media (max-width: @w_1024){
      gap: 101px;
    }

    @media (max-width: @w_920){
      margin-bottom: 40px;
    }

    @media (max-width: @w_420){
      gap: 80px;
      margin-bottom: 30px;
    }
  }

  &__blog-card{
    position: relative;

    &::after{
      content: "";
      position: absolute;
      bottom: -60px;
      left: 40px;
      display: block;
      width: calc(100% - 80px);
      height: 1px;
      background-color: @black;

      @media (max-width: @w_1340){
        width: 100%;
        left: 0;
      }

      @media (max-width: @w_1024){
        bottom: -51px;
      }

      @media (max-width: @w_420){
        bottom: -40px;
      }
    }

    &:last-child::after{
      display: none;
    }
  }

  &__link-container {
    width: 150px;
    margin-left: auto;

    @media (max-width: @w_630){
      width: 116px;
    }
  }

  &__link {
    display: inline-block;
    padding: 15px 0 15px 40px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;

    @media (hover: hover){
      &:hover{
        color: @red_hover;
      }
    }

    @media (max-width: @w_630){
      padding-left: 20px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
