.contacts {
  margin-bottom: 150px;

  @media (max-width: @w_1340){
    margin-bottom: 50px;
  }

  &__container {
    .container;
  }

  &__title {
    margin-top: 78px;

    @media (max-width: @w_1340){
      margin-top: 90px;
    }

    @media (max-width: @w_768){
      margin-top: 58px;
    }

    @media (max-width: @w_420){
      margin-top: 60px;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    @media (max-width: @w_1140){
      flex-flow: column;
    }

    @media (max-width: @w_740){
      gap: 58px;
    }

    @media (max-width: @w_630){
      align-items: flex-start;
    }
  }

  &__info {
    display: flex;
    flex-flow: column;
    gap: 67px;
    padding-left: 5px;

    @media (max-width: @w_1340){
      padding-left: 0;
      gap: 52px;
    }

    @media (max-width: @w_1140){
      flex-flow: row;
      gap: 30px;
    }

    @media (max-width: @w_630){
      flex-flow: column;
      gap: 40px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 55px;

    @media (max-width: @w_1140){
      width: 195px;
      flex-flow: column;
      gap: 30px;
    }

    @media (max-width: @w_740){
      width: 150px;
    }

    @media (max-width: @w_630){
      width: 100%;
      flex-flow: row;
    }
  }

  &__item-picture {
    min-width: 110px;
    max-width: 110px;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @black;

    @media (max-width: @w_740){
      min-width: 65px;
      max-width: 65px;
      width: 100%;
      height: 65px;
    }
  }

  &__item-icon {
    width: 24px;
    height: 24px;
  }

  &__item-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;

    @media (max-width: @w_630){
      align-items: flex-start;
      gap: 0;
    }
  }

  &__item-title {
    min-width: 150px;
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 600;

    @media (max-width: @w_1140){
      text-align: center;
      font-size: 18px;
    }

    @media (max-width: @w_740){
      font-size: 14px;
    }

    @media (max-width: @w_630){
      text-align: start;
      margin-bottom: 10px;
    }
  }

  &__item-text {
    margin: 0;

    @media (max-width: @w_740){
      font-size: 14px;
    }

    &--link{
      display: inline-block;
      margin-right: auto;
      text-decoration: none;
      transition: color 0.2s;

      @media (hover: hover){
        &:hover{
          color: @red_hover;
        }
      }

      @media (max-width: @w_1140){
        margin: 0 auto;
      }

      @media (max-width: @w_630){
        margin: 0;
      }
    }

    &--email{
      @media (max-width: @w_630){
        font-size: 16px;
      }
    }
  }

  &__map {
    max-width: 752px;
    width: 100%;
    height: 100%;

    @media (max-width: @w_1140){
      max-width: none;
      order: -1;
    }
  }

  &__map-picture {
    position: relative;
    width: 100%;

    &::before{
      content: "";
      display: block;
      width: 100%;
      padding-top: 65.559%;

      @media (max-width: @w_1140){
        padding-top: 65.396%;
      }

      @media (max-width: @w_420){
        padding-top: 66.43%;
      }
    }
  }

  &__map-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
