.events{
  &__container{
    .container();

    padding-top: 40px;
  }

  &__title{
    margin-top: 138px;
    text-transform: uppercase;
  }

  &__event-card{
    width: calc((100% / 3) - 40px);
  }
}