.main-header {
  margin: 100px 0;

  @media (max-width: @w_768){
    margin-top: 80px;
    margin-bottom: 50px;
  }

  @media (max-width: @w_630){
    margin-bottom: 60px;
  }

  &__title {
    margin: 0;
    font-family: @font2;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 58px;

    @media (max-width: @w_1340){
      font-size: 35px;
      line-height: 45px;
    }
    @media (max-width: @w_768){
      font-size: 30px;
      line-height: 38px;
    }
    @media (max-width: @w_740){
      font-size: 24px;
      line-height: normal;
    }
    @media (max-width: @w_630){
      font-size: 22px;
    }
    @media (max-width: @w_420){
      font-size: 16px;
    }
    @media (max-width: @w_320){
      margin-left: 6px;
      font-size: 13px;
    }
  }

  &__text {
    font-family: @font2;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;
    line-height: 58px;

    @media (max-width: @w_1340){
      font-size: 35px;
      line-height: 45px;
    }
    @media (max-width: @w_768){
      font-size: 30px;
      line-height: 38px;
    }
    @media (max-width: @w_740){
      font-size: 24px;
      line-height: normal;
    }
    @media (max-width: @w_630){
      font-size: 22px;
    }
    @media (max-width: @w_420){
      font-size: 16px;
    }
    @media (max-width: @w_320){
      font-size: 13px;
    }
  }

  &__picture-container{
    position: relative;
  }

  &__picture {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 70px 0;

    &::before{
      content: "";
      display: block;
      width: 100%;
      padding-top: 325px;

      @media (max-width: @w_1920){
        padding-top: 16.93%;
      }

      @media (max-width: @w_1340){
        padding-top: 19.18%;
      }

      @media (max-width: @w_768){
        padding-top: 21.55%;
      }

      @media (max-width: @w_420){
        padding-top: 23.13%;
      }
    }

    @media (max-width: @w_768){
      margin-top: 50px;
      margin-bottom: 49px;
    }

    @media (max-width: @w_420){
      margin-top: 30px;
      margin-bottom: 28px;
    }

    &-lines{
      &::before, &::after{
        content: '';
        display: block;
        max-height: 325px;
        padding-top: 16.9%;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(50% - @w_1920 / 2 + 100px);
        background: @black;
  
        @media (min-width: @w_1920){
          padding-top: 325px;
        }
        
        @media (max-width: @w_1920){
          width: 0px;
        }
      }
  
      &::after {
        right: 0;
        left: auto;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 325px;
    height: 100%;
    object-fit: contain;
    @media (max-width: @w_1920) {
      object-fit: cover;
    }
  }

  &__buttons{
    margin-top: 100px;

    @media (max-width: @w_768){
      margin-top: 73px;
    }

    @media (max-width: @w_630){
      margin-top: 40px;
    }

    @media (max-width: @w_320){
      margin-top: 42px;
    }
  }
}