.services{
  &__container{
    .container;
  }

  &__title{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.44px;
  }

  &__description{
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
  }

  &__table{
    margin-bottom: 50px;
  }

  &__buttons{
    margin-bottom: 100px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-item{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  &__info-picture {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @black;
  }

  &__info-icon {
    width: 24px;
    height: 24px;
  }

  &__info-subtitle {
    margin: 40px 0 10px;
    font-size: 20px;
    font-weight: 600;
    word-break: break-word;
  }

  &__info-data {
    margin: 0;
    width: 401px;
    word-break: break-word;
  }
}