.services{
  &__container{
    .container;
  }

  &__title{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.44px;
  }

  &__info{
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
  }

  &__table{
    margin-bottom: 50px;
  }
}