.button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: 15px 40px;
  border: 1px solid @black;
  font-family: inherit;
  font-weight: 600;
  font-size: @font_size;
  color: @black;
  text-align: center;
  word-break: break-word;
  background: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  @media (hover:hover){
    &:hover {
      color: @white;
      background-color: @black;
    }
  }
}