.title{
  .width_624;
  height: 62px;
  margin: 0 auto 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @white;
  font-family: @font2;
  font-size: 36px;
  font-weight: 500;
  background: @black;
}