.title{
  width: 624px;
  height: 62px;
  margin: 0 auto 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-family: "Lora";
  font-size: 36px;
  font-weight: 500;
  background: var(--color-black);
}