.x-button {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @black;
  border-radius: 50%;
  transition: background-color 0.2s;

  &:hover{
    background-color: @red_hover;
  }

  &::before, &::after{
    content: "";
    position: absolute;
    top: 21px;
    left: 29px;
    display: block;
    width: 2px;
    height: 18px;
    background-color: @white;
    border-radius: 1px;
    transform: rotate(45deg);
  }
  &::before{
    transform: rotate(-45deg);
  }
}